version: '3.8'

services:
  db:
    build: ./db
    container_name: postgres_db
    restart: always
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data

  server:
    build: ./server
    container_name: kv_server
    env_file: .env
    depends_on:
      - db
    ports:
      - "8080:8080"
    # volumes:
    #   - ./server:/app
